.login {
  width: 100%;
  height: var(--pageMinHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.signinLink {
  text-decoration: underline;
}
