.input {
  width: inherit;
  background-color: var(--tealBlue);
  color: var(--darkPrimary);
  font-weight: 700;
  min-width: 14rem;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  transition-duration: 0.3s;
}

.input_textArea {
  height: 8rem;
  resize: none;
}

.input:focus {
  box-shadow: var(--inputShadow);
}

.label {
  padding: 0.5rem 0;
  width: 100%;
  gap: 0.5rem;
  display: flex;
  text-transform: capitalize;
  font-weight: 700;
  flex-direction: column;
}

.errorMessage {
  letter-spacing: 1px;
  color: var(--danger);
  font-size: 0.8rem;
  text-transform: none;
  font-weight: 800;
}
