.input {
  min-width: 14rem;
  max-width: 24rem;
  padding: 0.5rem;
  border: 2px solid var(--darkGray);
  outline: none;
  border-radius: 0.5rem;
}

.label {
  display: flex;
  text-transform: capitalize;
  font-weight: 500;
  flex-direction: column;
}
