.settingOptionContainer {
  display: grid;
  row-gap: 1.5rem;
}

.settingOptionItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.optionLabel {
  max-width: 50%;
  font-weight: bold;
}
