.button {
  padding: 0.5rem 1rem;
  border: 2px solid trnsparent;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition-duration: 0.3s;
  font-weight: 600;
  font-size: 1rem;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.primary {
  background-color: var(--pink);
}

.secondary {
  background-color: var(--tealBlue);
  color: var(--darkPurple);
  border: 1px solid var(--darkPurple);
}

.danger {
  background-color: var(--danger);
}

.dark {
  background-color: var(--darkPurple);
  border: 1px solid var(--darkPurple);
}
