.unAuthContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.unAuthGreeting {
  width: 100%;
  font-weight: bold;
  font-size: 3rem;
  color: var(--lightGreen);
  font-weight: bold;
}

.unAuthMessage {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.1rem;
}

.unAuthiTask {
  color: var(--lightGreen);
}

.unAuthInvitation {
}

.girlPhone {
  width: 100%;
  max-width: 400px;
}

.unAuthButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
