.task {
  height: 100%;
  display: grid;
  row-gap: 1rem;
  grid-template-rows: 2rem 1fr;
}

.task__back {
  width: 6rem;
}

.task__status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.task__title {
  text-align: start;
}

.task__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.task__edit {
  scale: 1.3;
}

.task__body {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  border: 2px solid var(--inputbackground);
  box-shadow: var(--inputShadow);
  border-radius: 0.5rem;
  padding: 1rem;
}

.task__description {
  margin-top: 1rem;
  font-size: 1.2rem;
}
