.taskPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 2rem;
  position: relative;
}

.tasks {
  padding: 0 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.taskAdd {
  position: fixed;
  bottom: 6.5rem;
  z-index: 2;
  right: 2rem;
  transform-origin: bottom right;
  width: 3rem;
  height: 3rem;
  transition-duration: 0.2s;
  transition: transform 0.2s ease-in-out;
}

.taskAdd__icon {
  font-size: 2rem;
  color: var(--lightSecondary);
}

.userGreeting {
  text-align: right;
}

.userGreeting__name {
  font-weight: bold;
  color: var(--lightGreen);
}
