@keyframes toast-slide-up {
  from {
    transform: translateY(-100%) translate(-50%);
  }
  to {
    transform: translateY(0) translate(-50%);
  }
}

.toast {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  min-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 46rem;
  min-width: 16rem;
  box-shadow: var(--shadow);
  border-radius: 0.25rem;
  padding: 0 0.75rem;
  z-index: 8;
  animation: toast-slide-up 0.3s;
  will-change: transform;
}

.toastText {
  color: var(--lightSecondary);
  font-size: 1rem;
  font-weight: 700;
}

.toastButton {
  font-weight: 500;
  -webkit-transform: scale(2);
  transform: scale(2);
  color: var(--lightSecondary);
  position: absolute;
  border: none;
  top: 0;
  height: 30px;
  bottom: 0.5rem;
  right: 0.75rem;
  margin: auto;
  outline: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.success {
  background-color: var(--lightGreen);
}

.error {
  background-color: var(--danger);
}
