@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --darkPrimary: #222831;

  --lightPrimary: #98c1d9;
  --lightSecondary: #3c415c;
  --lightTerciary: #30475e;

  --lightGreen: #bee5bf;
  --tealBlue: #e8f0fe;
  --lightOrange: #ffd1ba;

  --danger: #ff8dac;

  --shadow: 0 0.5rem 1.6rem rgba(0, 0, 0, 0.2);
  --inputShadow: 0px 2px 5px 1px var(--lightTerciary);
  --pageMinHeight: calc(100vh - 8rem);
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  color: var(--tealBlue);
  padding: 0;
  box-sizing: border-box;
}

svg {
  color: transparent;
}

body {
  min-height: 100vh;
  background: var(--darkPrimary);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}

.layout {
  display: grid;
  grid-template-rows: calc(100vh - 6rem) 3rem;
  gap: 1rem;
  padding: 1rem;
  grid-template-areas:
    "content content content"
    "header header header";
}

.pageContainer {
  grid-area: content;
  min-height: var(--pageMinHeight);
  background-color: var(--lightSecondary);
  border-radius: 0.5rem;
  overflow: auto;
  padding: 1rem;
}

.pageTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--lightGreen);
  margin-bottom: 1rem;
}

.textRight {
  text-align: right;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}

.upsideDown {
  transform: rotate(-180deg);
}
