@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --yellow: #f9ab46;
  --darkGray: #4c696d;
  --lightGray: #bdd1d0;
  --red: #cc1f21;
  --black: #131514;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  color: var(--black);
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--lightGray);
}
