.select {
  transition-duration: 0.3s;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  position: relative;
  box-shadow: var(--shadow);
  background-color: var(--darkPrimary);
  width: 10rem;
  transform-origin: bottom left;
}

.downIcon {
  transition-duration: 0.3s;
}

.select:hover {
  box-shadow: var(--inputShadow);
}

.selectSpan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--lightGreen);
  font-weight: bold;
}

.selectList {
  position: absolute;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  top: 120%;
  max-height: 10rem;
  left: 0;
  width: 100%;
  background-color: var(--darkPrimary);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  z-index: 3;
  transform-origin: top left;
  transition-duration: 0.3s;
}

.selectIcon {
  transition-duration: 0.3s;
}
