.deleteView {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
