.title {
  text-align: right;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--lightGreen);
}

.signin {
  width: 100%;
}

.container {
  grid-template-columns: 20% 50%;
  -moz-column-gap: 14rem;
  justify-content: space-between;
  display: flex;
  padding: 0 2rem;
  width: 100%;
  align-items: center;
}

.signinImage {
  display: none;
}

.signinLink {
  text-decoration: underline;
}

.buttonContainer {
  display: grid;
  margin-top: 1rem;
  row-gap: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    column-gap: 14rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 2rem;
    width: 100%;
    align-items: center;
  }

  .signin {
    display: grid;
    height: 50%;
    place-items: center;
  }
  .signinImage {
    display: block;
    text-align: end;
  }
}
