.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30%;
  z-index: 4;
  border: 1px solid var(--tealBlue);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--lightTerciary);
}

.modalBackground {
  position: fixed;
  top: calc(-50vh + 2rem + 4px);
  left: calc(-50vw + 9rem);
  min-width: 200vw;
  min-height: 200vh;
  z-index: 4;
  white-space: pre-wrap;
  background: rgb(0 0 0 / 47%);
}
