.user {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.userGreeting {
  text-align: right;
}

.userGreeting__name {
  font-weight: bold;
  color: var(--lightGreen);
}

.userOptions {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
