.userContainer {
  width: 100%;
}

.user {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.5rem;
}

.userImage {
  display: none;
}

.userGreeting {
  text-align: right;
}

.userGreeting__name {
  font-weight: bold;
  color: var(--lightGreen);
}

.formContainer {
  width: 95%;
  display: grid;
  place-items: center;
  margin: 0 auto;
  row-gap: 1rem;
}

.buttonContainer {
  width: 100%;
}
@media (min-width: 768px) {
  .user {
    display: grid;
    max-width: 45%;
    max-height: 52%;
    place-items: center;
  }

  .user {
    scale: 1.2;
    display: block;
    text-align: start;
  }

  .userImage {
    display: block;
    scale: 1.4;
  }

  .userContainer {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
}
