.navbarHeader {
  width: 100%;
  grid-area: header;
  border-radius: 0.5rem;
  background-color: var(--lightPurple);
  box-shadow: var(--shadow);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}
