.unauth {
  height: 100%;
  width: 80%;
  display: grid;
  text-align: center;
  place-items: center;
  gap: 1rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .unauthContents {
    width: 60%;
    display: inherit;
    gap: 1rem;
    place-items: center;
    padding-bottom: 12rem;
  }
}
