.options {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.optionsIcon {
  transition-duration: 0.2s;
}

.optionsIconActive {
  background-color: var(--tealBlue);
  transform: scale(1.3);
  position: relative;
  bottom: 1rem;
  border-radius: 0.2rem;
  padding: 0.2rem 0.2rem 0;
}

@media (min-width: 768px) {
  .options {
    flex-direction: column;
    height: 100%;
    padding: 2rem 0;
  }
  .optionsIconActive {
    bottom: 0;
    left: 1rem;
  }
}
