.options {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.optionsIcon {
  transition-duration: 0.2s;
}

.optionsIconActive {
  background-color: #f5f5f5;
  transform: scale(1.3);
  position: relative;
  bottom: 1rem;
  border-radius: 0.2rem;
  padding: 0.2rem 0.2rem 0;
}
