.taskListColumn {
  border: 1px solid #ccc;
  flex: 1;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  background-color: var(--darkPrimary);
}

.taskList {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
